*
{
    margin: 0;
    padding: 0;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/*----------navbar----------*/
.imglogo {
  margin-top: 2.5%;
  display: flex;
  justify-content: center;
}
.logosvg
{
  width: 15%;
}
.navbar {
  padding-bottom: 10px;
  width: 100%; 
}
.main-nav {
  list-style: none;
  text-decoration: none;
  display: none;
  font-family: 'Cutive Mono', monospace;
}
.nav-mot {
  text-decoration: none;
}
.main-nav li {
  transition: all 350ms;
  text-align: center;
  margin: 3rem auto;
}
.main-nav li:hover{
  transform: scale(1.15);
}
.nav-mot:hover {
  color: rgb(77, 141, 77);
  
}
.navbar2 {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 35px;
}
.active {
  display: block;
}
@media screen and (min-width: 800px) {
  .navbar {
    display: flex;
    justify-content: center;
    margin-top: 2%;
  }
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-mot {
    margin-left: 40px; 
  }
  .nav-mot:hover {
    transition: all 150ms;
    color: rgb(77, 141, 77);
  }
  .navbar2 {
    display: none;
  }
  .logo {
    margin-top: 0;
  }
}
.logo {
  visibility: hidden;
  display: inline-block;
  font-size: 22px;
  margin-top: 5px;
  margin-left: -95px;
}
@media screen and (max-width: 1120px) {
  .nav-list {
    flex-direction: column;
  }
  .about-details .nav-list {
    flex-direction: row;
  }
}
#trait
{
    border-top: 1px solid #8d8d8d;
    width: 70%;
    margin: auto;   
}
@media screen and (max-width: 700px) {
  .logosvg
  {
  width: 25%;
  }
  .imglogo
  {
    margin-top: 2%;
    display: flex;
    justify-content: left;
    margin: 8% 0% 2% 8%;
    width: 90%;
  }
  .navbar2 
  {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin: 5%;
  }
}
/*----------Section Image Bandeau----------*/
.imgbandeau
{
    display: flex;
    justify-content: center;
}
.imgbandeau {
    margin-top: 2%;
    background:  
    url(img/image1.jpg) center center / cover no-repeat;
    height: 500px;
}

/*----------Tarifs à la séance----------*/
.traitsoustitre
{
  width: 15%;
  margin: auto;
  margin-top: 0%;
}
.titreateliers
{
  display: flex;
  justify-content: center;
  margin: 5% 0% 0% 0%;
  font-family: 'Stalemate', cursive;
  font-size: 400%;
}
.bloccolonne
{
  display: flex;
  justify-content: space-evenly;
  margin: 7% auto;
}
.bloc12
{
  display: flex;
  flex-direction: column;
}
.colonne1
{
  border: 1px solid rgb(223, 189, 77);
  border-radius: 10px;
  width: 400px;
  height: 240px;
  background-color: rgb(147 192 175 / 30%);
}
.colonne1 h3
{
  text-align: center;
  margin: 5%;
  font-family: 'Cutive Mono', monospace;
}
.colonne1 p
{
  margin: 4%;
  font-family: 'Cutive Mono', monospace;
}
.textebloc1
{
  margin-top: 12%;
}
.colonne2
{
  border: 1px solid rgb(223, 189, 77);
  border-radius: 10px;
  width: 400px;
  height: 240px;
  margin-top: 10%;
  background-color: rgb(147 192 175 / 30%);
}
.colonne2 h3
{
  text-align: center;
  margin: 5%;
  font-family: 'Cutive Mono', monospace;
}
.colonne2 p
{
  margin: 4%;
  font-family: 'Cutive Mono', monospace;
}
.textebloc2
{
  margin-top: 12%;
}
.colonne3
{
  border: 1px solid rgb(223, 189, 77);
  border-radius: 10px;
  width: 400px;
  height: 450px;
  margin-top: 8%;
  background-color: rgb(147 192 175 / 30%);
}
.colonne3 h3
{
  text-align: center;
  margin: 5%;
  font-family: 'Cutive Mono', monospace;
}
.colonne3 p
{
  margin: 4%;
  font-family: 'Cutive Mono', monospace;
  font-size: 85%;
}
.textebloc3
{
  margin-top: 19%;
}
.etiquette
{
  width: 22%;
  margin: auto;
  transform: rotate(30deg);
  margin-top: -3.6%;
  margin-left: 88%;
}
.fleur
{
  width: 5%;
}
@media screen and (max-width: 1000px) {
  .bloccolonne
  {
    display: flex;
    flex-direction: column;
  }
  .bloc12
  {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .bloc3
  {
    margin: auto;
  }
  .fleur
  {
    width: 5%;
    margin: auto;
    margin-top: 4%;
  }
  .titreateliers
  {
  display: flex;
  justify-content: center;
  margin: 5% 0% 0% 0%;
  font-family: 'Stalemate', cursive;
  font-size: 250%;
  }
}
@media screen and (max-width: 700px) {
  .colonne1
  {
    border: 1px solid rgb(147, 192, 147);
    border-radius: 10px;
    width: 300px;
    height: 240px;
  }
  .colonne2
  {
    border: 1px solid rgb(147, 192, 147);
    border-radius: 10px;
    width: 300px;
    height: 240px;
  }
  .colonne3
  {
    border: 1px solid rgb(147, 192, 147);
    border-radius: 10px;
    width: 300px;
    height: 450px;
    margin-top: 8%;
  }
  .colonne3 p
  {
  margin: 4%;
  font-family: 'Cutive Mono', monospace;
  font-size: 95%;
  text-align: center;
  }
  .fleur
  {
    width: 10%;
    margin: auto;
    margin-top: 6%;
  }
  .textebloc1
  {
    margin-top: 17%;
  }
  .textebloc2
  {
    margin-top: 17%;
  }
  .textebloc3
  {
    margin-top: 32%;
  }
  .titreateliers
  {
  display: flex;
  justify-content: center;
  margin: 15% 0% 0% 0%;
  font-family: 'Stalemate', cursive;
  font-size: 300%;
  }
  .traitsoustitre 
  {
    width: 50%;
    margin: auto;
    margin-top: 0%;
  }
}
/*----------Forfait-----------*/
.grpbis
{
  margin: 5% auto;
  border-radius: 10px;
  font-family: 'Cutive Mono', monospace;
  text-align: center;
  width: 700px;
  height: 200px;
  border: 1px solid rgb(223, 189, 77);
}
.grpbis li
{
  list-style: none;
}
.soustitregrpbis
{
  margin: 5%;
}
.etiquette1bis
{
  width: 15%;
  margin: auto;
  transform: rotate(20deg);
  margin-top: 6%;
  margin-left: 90%;
}
.grpformule
{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0.1% 5%;
}
.grp
{
  margin: 5% auto;
  border-radius: 10px;
  font-family: 'Cutive Mono', monospace;
  text-align: center;
  width: 350px;
  height: 200px;
  border: 1px solid rgb(223, 189, 77);
  background-color: rgb(253 198 198 / 30%);
}
.grp li
{
  list-style: none;
}
.titregrp
{
  margin-top: 5%;
}
.soustitregrp
{
  margin-top: 5%;
  text-decoration: underline;
}
.ulgrp
{
  margin-top: 7%;
}
.etiquette1
{
  width: 30%;
  margin: auto;
  transform: rotate(20deg);
  margin-top: 10%;
  margin-left: 80%;
}
@media screen and (max-width: 900px) {
  .grpbis
  {
    margin: 5% auto;
    border-radius: 10px;
    font-family: 'Cutive Mono', monospace;
    text-align: center;
    width: 350px;
    height: 200px;
    border: 1px solid rgb(223, 189, 77);
  }
  .etiquette1bis
  {
    width: 30%;
    margin: auto;
    transform: rotate(20deg);
    margin-top: 7%;
    margin-left: 80%;
  }
}
@media screen and (max-width: 700px) {
  .grpbis
  {
    margin: 15% auto;
    border-radius: 10px;
    font-family: 'Cutive Mono', monospace;
    text-align: center;
    width: 350px;
    height: 200px;
  }
  .grp
  {
    margin: 10% auto;
    border-radius: 10px;
    font-family: 'Cutive Mono', monospace;
    text-align: center;
    width: 350px;
    height: 200px;
  }
  .etiquette1bis
  {
    width: 25%;
    margin: auto;
    transform: rotate(20deg);
    margin-top: 0%;
    margin-left: 70%;
  }
  .etiquette1 
  {
    width: 25%;
    margin: auto;
    transform: rotate(20deg);
    margin-top: 6%;
    margin-left: 70%;
  }
}
/*----------Footer----------*/
.allfooter
{
  background-color: rgb(147, 192, 188);
  margin-top: 5%;
}
.footer
{
    width: 100%;
    height: 130px;
}
.logoreseau
{
    display: flex;
    justify-content: space-evenly;
    font-size: 300%;
    padding: 2% 2% 2% 2%;
    margin: 0% 30%;
}
.logofb 
{
    margin: 0% 1% 0% 1%;
}
.logofb i
{
    color: rgb(255, 255, 255);
    margin: 0% 1% 0% 1%;
    transition: all 350ms;
}
.logofb :hover
{
    color: rgb(40, 114, 252);
    transform: scale(1.3);
}
.logoinsta
{
    margin: 0% 1% 0% 1%;
}
.logoinsta i
{
    color: rgb(255, 255, 255);
    margin: 0% 1% 0% 1%;
    transition: all 350ms;
}
.logoinsta :hover
{
    transform: scale(1.3);
    color: rgb(252, 115, 90);
}
.logomail
{
    margin: 0% 1% 0% 1%;
}
.logomail i
{
    color: rgb(255, 255, 255);
    margin: 0% 1% 0% 1%;
    transition: all 350ms;
}
.logomail :hover
{
    transform: scale(1.3);
    color: rgb(17, 134, 202);
}
.mentions
{
  font-family: 'Cutive Mono', monospace;
  margin-right: 2%;
}
.mentions :hover
{
  color: white;
}
.copyright
{
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
  font-size: 70%;
}
.copy
{
  margin-right: 0.5%;
  font-family: 'Cutive Mono', monospace;
}
.date
{
  margin-left: 1%;
  font-family: 'Cutive Mono', monospace;
}
.textcopy
{
  margin-left: 2%;
  font-family: 'Cutive Mono', monospace;
}
.textcopy :hover
{
  color: white;
}
@media screen and (max-width: 1100px){
  .allfooter
  {
    background-color: rgb(147, 192, 188);
    margin-top: 15%;
  }
}
@media screen and (max-width: 700px){
  .copyright 
  {
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
    font-size: 50%;
    margin: auto;
  }
  .logoreseau 
  {
    display: flex;
    justify-content: space-around;
    font-size: 300%;
    margin: auto;
    padding: 7%;
  }
}




/*----------Others----------*/
.reveal-loaded .reveal [class*="reveal-"] {
  opacity: 0!important;
  transform: translateY(30px)!important;
  transition: 0s!important;
}

.reveal-loaded [class*="reveal-"]{
  transition: 1s cubic-bezier(.5, 0, 0, 1);
}

.reveal-loaded  .reveal-2 {
  transition-delay: .1s;
}

@media (prefers-reduced-motion: reduce) {
  .reveal [class*="reveal-"] {
      opacity: 1!important;
      transform: translateY(0px)!important;
  }
  [class*="reveal-"]{
      transition-duration: 0s!important;
      transition-delay: 0s!important;
  }
}





